.order-details-parent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-div {
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 40%;
    max-width: 100%;
    background-color: rgba(245, 142, 142, 0.212);

    //the heading of a section
    h6 {
        font-size: 30px;
        color: darkred;
    }


}

.item-caption {
    font-weight: bold;
    color: green;
}


.form-group {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    label {
        width: 40%;
    }

    input {
        width: 50%;
        border-radius: 5px;
        padding: 2px;
    }
}

.actions {
    margin-top: 20px;
    margin-bottom: 20px;

    button {
        font-size: 30px;
    }
}