<div *ngIf="order" class="global-single-page">

    <div class="global-title-font">
        Order Details
    </div>
    <hr />

    <div class="order-details-parent">
        <div class="section-div">
            <ng-container *ngTemplateOutlet="orderDetailsTemplate"></ng-container>
        </div>
        <div class="section-div">
            <ng-container *ngTemplateOutlet="cartItemsTemplate"></ng-container>
        </div>
    </div>
    <hr />
    <div class="actions">
        <button>Start Delivery</button>
    </div>
</div>

<ng-template #orderDetailsTemplate>
    <h6>Order</h6>
    <hr>
    <div class="form-group">
        <label for="alterEgo">Payment Option</label>
        <input disabled type="text" class="form-control" id="alterEgo"
            [ngModel]="order.OrderPaymentOption | orderPaymentOptionTransformer" name="alterEgo">
    </div>

    <div class="form-group">
        <label>Creation Date</label>
        <input disabled type="text" class="form-control" [ngModel]="order.CreationDate | date">
    </div>
    <div class="form-group">
        <label>Total Amount</label>
        <input disabled type="text" class="form-control" [ngModel]="order.TotalAmount">
    </div>
    <div *ngIf="customer">
        <h6>Customer</h6>
        <hr>
        <div class="form-group">
            <label>Device Id</label>
            <input disabled type="text" class="form-control" [ngModel]="customer.CustomerDeviceID">
        </div>
        <div class="form-group">
            <label>Customer Name</label>
            <input disabled type="text" class="form-control" [ngModel]="customer.Name">
        </div>
    </div>

    <h6>Delivery Details</h6>
    <hr>


    <div class="form-group">
        <label>Location</label>
        <input disabled type="text" class="form-control" [ngModel]="deliveryDetails.LocationDisplayName">
    </div>

    <div class="form-group">
        <label>Contact</label>
        <input disabled type="text" class="form-control" [ngModel]="deliveryDetails.Name">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input disabled type="text" class="form-control" [ngModel]="deliveryDetails.PhoneNumber">
    </div>
    <hr>
</ng-template>


<ng-template #cartItemsTemplate>
    <div *ngIf="cartItems">
        <h6>Cart Items</h6>
        <hr>
        <div *ngFor="let cartItem of cartItems">

            <div class="form-group">
                <label>Cart Item Price</label>
                <input disabled type="text" class="form-control" [ngModel]="cartItem.Price">
            </div>

            <div class="form-group">
                <label>Product</label>
                <button mat-button color="accent" (click)="showProdcut(cartItem.ProductId)">Show Product</button>
            </div>

            <div class="form-group">
                <label>Quantity</label>
                <input disabled type="text" class="form-control" [ngModel]="cartItem.Quantity">
            </div>
            <div class="form-group">
                <label>Total Price</label>
                <input disabled type="text" class="form-control" [ngModel]="(cartItem.Quantity * cartItem.Price)">
            </div>
            <hr>
        </div>
    </div>
</ng-template>