<div class="global-single-page">
    <div style="display: flex;
    justify-content: space-between;">
        <div class="global-title-font">
            Product Categories
        </div>
        <div>
            ({{dataSource.length}})
        </div>
    </div>
    <hr />
    <div style="margin-bottom: 20px;"><button mat-button>
            <mat-icon>add</mat-icon> Add New
        </button></div>
    <div style="margin-bottom: 20px;width: 10px;"></div>


    <dx-data-grid [dataSource]="dataSource" keyExpr="Id" (onRowClick)="viewProductCat($event)"
        [rowAlternationEnabled]="true" [showBorders]="true" class="global-display-grid" [focusedRowEnabled]="true">
        <dxi-column dataField="Image" cellTemplate="cellTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'cellTemplate'">
            <img style="height: 50px;" src="{{cell.text}}">
        </div>
        <dxi-column dataField="Name"></dxi-column>

    </dx-data-grid>
</div>