<div>
    <div style="margin-bottom: 20px;margin-top: 20px">Product Categories</div>
    <div style="margin-bottom: 20px;"><Button>Add New</Button></div>
    <div style="margin-bottom: 20px;width: 10px;"></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef>Image </th>
            <td mat-cell *matCellDef="let element"> <img style="height: 50px;" src="{{element.Image}}"> </td>
        </ng-container>
        <!-- 
        <mat-text-column name="Edit">
            <button type="submit">View</button>
        </mat-text-column> -->

        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Image </th>
            <td mat-cell *matCellDef="let element"> <button>Edit</button> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>