@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&display=swap');

html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: large;
}

.title-font {
  font-family: 'Roboto', cursive;
  font-size: 30px;
  color: grey;
}


.display-grid {
  height: 60vh;
}


.success-snack-global {
  background-color: green;
  color: white;
  text-align: center;
}