html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-font {
  font-family: 'Knewave', cursive;
  font-size: xxx-large;
  color: grey;
}


.display-grid {
  height: 50vh;
}

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.success-snack-global {
  background-color: green;
  color: white;
  text-align: center;
}