<div>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1 style="font-weight: bold;">{{product.Name}}</h1>
        </div>
        <div>
            <div><button style="color: red;" mat-outlined-button [mat-dialog-close]="product" cdkFocusInitial>X</button>
            </div>
        </div>
    </div>
    <hr>
    <div style="display: flex; padding: 10px;">
        <div class="example-full-width">
            <img style="height: 200px;" src="{{product.Image}}" alt="" srcset="">
        </div>
        <div style="padding: 10px;">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Size</mat-label>
                <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.Size">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Views</mat-label>
                <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.ViewCount">
            </mat-form-field>



        </div>
    </div>

    <div style="display: flex; justify-content: space-between;">

        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Currency</mat-label>
                <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.Currency">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.Price">
            </mat-form-field>
        </div>
    </div>



    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Details</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="product.Details"
            style="height: 200px;"></textarea>
    </mat-form-field>


    <div class="example-full-width" appearance="outline">
        <mat-label>In Stock</mat-label>
        <input type="checkbox" [(ngModel)]="product.InStock">
    </div>
    <hr>
    <div style="margin: auto; display: flex; flex-direction: row-reverse;">
        <div><button mat-raised-button color="primary" (click)="update(product)">Update</button></div>
    </div>
</div>