<div class="links-row">
  <button>
    <a routerLink="/orders" routerLinkActive="active">Orders</a>
  </button>
  <button>
    <a routerLink="/product-categories" routerLinkActive="active">Product Categories</a>
  </button>
  <button>
    <a routerLink="/products" routerLinkActive="active">Products</a>
  </button>
</div>

<!-- <div class="grid-container">
  <div class="grid-item">
    <app-orders></app-orders>
  </div>
  <div class="grid-item">
    <app-product-categories></app-product-categories>
  </div>

  <div class="grid-item">
    <app-products></app-products>
  </div>
  <div class="grid-item">
    <app-products></app-products>
  </div>
</div> -->
<router-outlet></router-outlet>