<p></p>
<p></p>
<div class="grid-container">
    <div class="item1"> <Span>Name: </Span> {{product.Name}}</div>
    <div class="item2">
        <img style="height: 200px;" src="{{product.Image}}" alt="" srcset="">
    </div>
    <div class="item3">

        <Span>Size: </Span>{{product.Size}}
    </div>
    <div class="item4"><Span>View Count: </Span>{{product.ViewCount}}</div>
    <div class="item5"><Span>Details: </Span>{{product.Details}}</div>
    <div class="item6"><Span>Currency: </Span>{{product.Currency}}</div>
    <div class="item7"><Span>Price: </Span>{{product.Price}}</div>
    <div class="item8"><Span>In Stock: </Span>{{product.InStock}}</div>
    <div class="item9"><Span>Product Category: </Span>{{product.ProductCategoryId}}</div>
</div>