.item1 {
    grid-area: productName;
}

.item2 {
    grid-area: image;
}

.item3 {
    grid-area: size;
}

.item4 {
    grid-area: viewCount;
}

.item5 {
    grid-area: details;
}

.item6 {
    grid-area: currency;
}

.item7 {
    grid-area: price;
}

.item8 {
    grid-area: instock;
}

.item9 {
    grid-area: categoryId;
}

.grid-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-areas:
        'image'
        'productName'
        'size '
        'viewCount '
        'details '
        'currency '
        'price '
        'instock '
        'categoryId';
    gap: 1px;
    background-color: #b3d3ec;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 0;

}

span {
    font-size: 30px;
}