<div>
  <div>
    <ul class="navbar">
      <div class="title">Tush</div>
      <div>
        <!-- <li>
          <a href="#about">
            <mat-icon color="primary">circle_logout</mat-icon>
          </a>
        </li> -->
        <li>
          <a href="#contact">
            <mat-icon color="primary">lock</mat-icon>
          </a>
        </li>
        <li>
          <a href="#news">
            <mat-icon color="primary">circle_notifications</mat-icon>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <div class="navigation-links-row">
    <div>
      <a routerLink="home">Home</a>
    </div>
    <div>
      <a routerLink="orders">Orders</a>
    </div>
    <div>
      <a routerLink="products">Products</a>
    </div>
    <div>
      <a routerLink="product-categories">Categories</a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>