<div>
    <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;">
        <div
            style="padding:20px; font-size: 20px;text-align: end; color: grey; align-self: flex-end;">
            ({{count}})
        </div>
        <div class="title-font">
            Orders
        </div>
    </div>
    <hr />
    <div style="margin-bottom: 20px;margin-left: auto; margin-right: 0px;"><Button style="margin-right: 0;">Add
            New</Button></div>
    <div style="margin-bottom: 20px;width: 10px;"></div>


    <dx-data-grid [dataSource]="dataSource" keyExpr="Id" (onRowClick)="viewOrder($event)" [rowAlternationEnabled]="true"
        [showBorders]="true" class="display-grid" [focusedRowEnabled]="true" [scrolling]="scrolling" [paging]="paging">
        <dxi-column dataField="CustomerId"></dxi-column>
        <dxi-column dataField="CreationDate"></dxi-column>
        <dxi-column dataField="TotalAmount"></dxi-column>
        <dxi-column dataField="OrderStatus" cellTemplate="statusTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'statusTemplate'">
            <div>{{cell.text | orderStatusTransformer}}</div>
        </div>
        <dxi-column dataField="OrderPaymentOption" cellTemplate="paymentOptionTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'paymentOptionTemplate'">
            <div>{{cell.text | orderPaymentOptionTransformer}}</div>
        </div>
        <dxi-column dataField="OrderPaymentStatus" cellTemplate="paymentStatusTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'paymentStatusTemplate'">
            <div>{{cell.text | orderPaymentStatusTransformer}}</div>
        </div>


    </dx-data-grid>



</div>