<div>
    <div style="display: flex;
	justify-content: space-between;">
        <div class="title-font">
            Orders
        </div>
        <div>
            ({{dataSource.length}})
        </div>
    </div>
    <hr />

    <div style="display: flex;justify-content: space-between; flex-direction: row-reverse; margin-bottom: 20px;">
        <div style="display: flex; flex-direction: row-reverse;">
            <mat-chip-list aria-label="Fish selection">
                <div *ngIf="(placedOrders > 0); else noPlacedOrders">
                    <mat-chip color="primary" ng selected>Placed: {{placedOrders}}</mat-chip>
                </div>
                <ng-template #noPlacedOrders>
                    <mat-chip color="primary">Placed: {{placedOrders}}</mat-chip>
                </ng-template>
                <div *ngIf="(dispatchedOrders > 0); else noDispatchedOrders">
                    <mat-chip style="background-color:green" selected>Delivered: {{dispatchedOrders}}</mat-chip>
                </div>
                <ng-template #noDispatchedOrders>
                    <mat-chip>Delivered: {{dispatchedOrders}}</mat-chip>
                </ng-template>
                <div *ngIf="(deliveredOrders > 0); else noDeliveredOrders">
                    <mat-chip color="accent" selected>Paid: {{deliveredOrders}}</mat-chip>
                </div>
                <ng-template #noDeliveredOrders>
                    <mat-chip>Paid: {{deliveredOrders}}</mat-chip>
                </ng-template>
                <div *ngIf="(rejectedOrders > 0); else noRejectedOrders">
                    <mat-chip style="background-color:red" selected>Rejected: {{rejectedOrders}}</mat-chip>
                </div>
                <ng-template #noRejectedOrders>
                    <mat-chip>Paid: {{deliveredOrders}}</mat-chip>
                </ng-template>
            </mat-chip-list>
        </div>
    </div>


    <dx-data-grid [dataSource]="dataSource" keyExpr="Id" (onRowClick)="viewOrder($event)" [rowAlternationEnabled]="true"
        [showBorders]="true" class="display-grid" [focusedRowEnabled]="true" [scrolling]="scrolling" [paging]="paging">
        <dxi-column dataField="CreationDate" cellTemplate="dateTemplate"></dxi-column>
        <dxi-column dataField="TotalAmount"></dxi-column>
        <dxi-column dataField="OrderStatus" cellTemplate="statusTemplate"></dxi-column>

        <!-- <dxi-column caption="Action" dataField="OrderStatus" cellTemplate="orderStatusAction"></dxi-column>
        <div *dxTemplate="let cell of 'orderStatusAction'">
            <div><Button>Next</Button></div>
        </div> -->

        <div *dxTemplate="let cell of 'dateTemplate'">
            <div>{{cell.text | date}}</div>
        </div>
        <div *dxTemplate="let cell of 'statusTemplate'">
            <div>
                <button (click)="MoveNextStatus($event)">{{cell.text | orderStatusTransformer}}</button>
            </div>
        </div>
        <dxi-column dataField="OrderPaymentOption" cellTemplate="paymentOptionTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'paymentOptionTemplate'">
            <div>{{cell.text | orderPaymentOptionTransformer}}</div>
        </div>
        <dxi-column dataField="OrderPaymentStatus" cellTemplate="paymentStatusTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'paymentStatusTemplate'">
            <div>{{cell.text | orderPaymentStatusTransformer}}</div>
        </div>


    </dx-data-grid>



</div>