<div class="order-delivery-detail">
    <div class="title">
        <h1>order-delivery works!</h1>
    </div>


    <div class="map">
        <div class="single-map">
            <app-google-maps-demo></app-google-maps-demo>
        </div>
    </div>

    <div class="actions-order-details">

        <div>
            <div>
                <h3>
                    <span>OrderId: </span>
                    <span class="order-del-google-map-orderId"><span> <a href="">09090009999***</a> </span></span>
                </h3>
            </div>

            <div>
                <h3>
                    <span>OrderId: </span>
                    <span class="order-del-google-map-orderId"><span> <a href="">09090009999***</a> </span></span>
                </h3>
            </div>

            <div>
                <h3>
                    <span>OrderId: </span>
                    <span class="order-del-google-map-orderId"><span> <a href="">09090009999***</a> </span></span>
                </h3>
            </div>

        </div>

        <div>
            <div>Actions</div>
            <hr>
            <div class="toggle-live-traffic">
                <span>Show Live Traffic: </span>
                <mat-slide-toggle></mat-slide-toggle>
            </div>

            <div>
                <button mat-elevated-button class="leave-now-button">Leave Now?</button>
            </div>
            <div>
                <button mat-elevated-button class="leave-now-button">Finish Delivery</button>
            </div>
        </div>

    </div>





</div>