<div class="order-delivery-detail">
    <div class="global-title-font">
        Order Delivery
    </div>
    <hr>


    <div class="map">
        <div class="single-map">
            <app-google-maps-demo [showLiveTraffic]="showLiveTraffic"></app-google-maps-demo>
        </div>
    </div>

    <div class="actions-order-details-row">

        <div class="actions-order-details-child-column">

            <div class="label-tag">Customer Name: </div>
            <div class="content">George Wanjohi</div>

            <div class="label-tag">Phone</div>
            <a class="content" href="tel:07077 007 337">07077 007 337</a>
        </div>

        <div class="actions-order-details-child-column">

            <div class="toggle-live-traffic">
                <span class="label-tag">Live Traffic: </span>
                <button class="live-traffic-toggle" (click)="toggleLiveTraffic()">
                    <span *ngIf="showLiveTraffic == true">
                        Hide
                    </span>
                    <span *ngIf="showLiveTraffic == false">
                        Show
                    </span>
                </button>

            </div>

            <div>
                <button mat-elevated-button class="leave-now-button">Start Delivery</button>
            </div>
            <div>
                <button mat-elevated-button class="leave-now-button">Finish Delivery</button>
            </div>
        </div>

    </div>





</div>