<div class="global-single-page">

    <div style="display: flex;
justify-content: space-between;">
        <div class="global-title-font">
            Products
        </div>
        <div>
            ({{dataSource.length}})
        </div>
    </div>
    <hr />



    <div style="display: flex;justify-content: space-between;">
        <div style="margin-bottom: 20px;"><button mat-button>
                <mat-icon>add</mat-icon> Add New
            </button></div>
        <div style="display: flex; flex-direction: row-reverse;">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>InStock: {{productsInStock}}</mat-chip>


                <div *ngIf="(productsOutOfStock > 0); else NoProductsOutOfStock">
                    <mat-chip color="accent" selected>Out of Stock: {{productsOutOfStock}}</mat-chip>
                </div>
                <ng-template #NoProductsOutOfStock>
                    <mat-chip>Out of Stock: {{productsOutOfStock}}</mat-chip>
                </ng-template>

            </mat-chip-list>
        </div>
    </div>

    <div>
        <dx-data-grid [dataSource]="dataSource" keyExpr="Id" (onRowClick)="viewProduct($event)"
            [rowAlternationEnabled]="true" [showBorders]="true" class="global-display-grid" [focusedRowEnabled]="true">
            <dxi-column dataField="Image" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let cell of 'cellTemplate'">
                <img style="height: 50px;" src="{{cell.text}}">
            </div>
            <dxi-column dataField="Name"></dxi-column>
            <dxi-column dataField="ViewCount"></dxi-column>
            <dxi-column dataField="Price"></dxi-column>
            <dxi-column dataField="InStock"></dxi-column>

        </dx-data-grid>


    </div>